<ion-tabs>
	<!--
        first tab represent of the bottom of the screen so the bottoms are gonna be on the bootom 
        the following tabs-buttom is the 3 button that we are gonna have for the 4 main pages, characters, episodes, quotes and deaths
        on the icon is the icons that represent each page 
        -->
	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="episodes">
			<ion-icon name="film"></ion-icon>
			<ion-label>Episodes</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="characters">
			<ion-icon name="people"></ion-icon>
			<ion-label>Characters</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="quotes">
			<ion-icon name="megaphone"></ion-icon>
			<ion-label>Quotes</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="deaths">
			<ion-icon name="skull"></ion-icon>
			<ion-label>Deaths</ion-label>
		</ion-tab-button>
	</ion-tab-bar>
</ion-tabs>