<ion-header>
	<ion-toolbar color="danger">
		<!--
	        the color I used is danger in order to give a Style, also I am using the scss page to add style
	        to the headers and paragraphs 
	    -->

		<ion-title>
			<h1> Deaths </h1>
		</ion-title>

		<ion-toolbar color="danger">
			<!--
	        In deaths I am creating a search bar with ion-seachbar int there 
	        I specified the method,  I am going to use in my deaths.page.ts with my property event
	    -->

			<ion-searchbar placeholder="Look for keywords..." (ionChange)="searchDeath($event)"></ion-searchbar>
		</ion-toolbar>
	</ion-toolbar>

</ion-header>

<ion-content>
	<ion-list>
		<!--
	        the ngFor is a interaction  with the array and creating elements with the same type (information taking from mikhail-cct-github-io/mobdev/w4)
	        async is using because our variable deths is observable so this is telling to observe the variable
	        deathsfilter is a pipe (a module),  I created to run the method that check the input from my user (saving in my variable searText) and match it  with my array of quotes
	        in other words, this pipe run the deathsfilter of the words storage in searchText and match with the info in an array of deaths, returning the match. 
	    -->

		<ion-item *ngFor="let death of deaths | async | deathsfilter: searchText1">

			<!--
         I am showing who died and the cause with the paragraph style 
        -->

			<p> {{ death.death }} </p>
			<label> <p> ---- Cause : ------ </p> </label>
			<label> <p> {{ death.cause}}</p> </label>
		</ion-item>
	</ion-list>
</ion-content>