h1 {
    color: #ffffff; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 30px; 
    font-weight: 200; 
    line-height: 50px; 
    margin: 20 0 20px; 
    text-align: center; 
    text-transform: uppercase;
}
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div {
    padding-right: 10px;
    padding-left: 40px;
    
}