h2 {
    
    font-size: 20px; color: #ffffff; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200; 
    line-height: 50px; 
    margin: 20 0 20px; 
    text-transform: uppercase;
}
p {
    color: black;
    text-align: center;
    font-weight: 200; 
    line-height: 50px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}