<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaulthref="/tabs/episodes">
     <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> <h2> {{ episode?.title }} </h2> </ion-title>
    <ion-buttons slot="end">
    <ion-button (click)="unfavouriteEpisode()" *ngIf="isFavourite">
    <ion-icon name="star" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button (click)="favouriteEpisode()" *ngIf="!isFavourite">
      <ion-icon name="star-outline" slot="icon-only"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
	
<ion-content padding>
 
<ion-card *ngIf="episode">
  <ion-card-content>
    <p>{{ episode.season }}</p>
  </ion-card-content>
  <ul>{{ episode.characters }} </ul>
</ion-card>
 
</ion-content>
